body {
    background-color: #1f2123;
}


/*----------------------------------- HEADER -----------------------------------*/


.header {
    margin-top: 60px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: #596064;
    padding: 0 25px;
    border-radius: 20px;
}

.header a{
    text-decoration: none;
}

.header a p {
    color: white;
    font-size: 24px;
}


/*----------------------------------- MAIN BODY -----------------------------------*/


main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f3335;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}

main section {
    width: 50%;
    color: #e2dfdb;
}

main section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section p:nth-child(1) {
    font-size: 36px;
}
main section p:nth-child(2) {
    font-size: 48px;
}
main section p:nth-child(3) {
    font-size: 54px;
}

main aside {
    width: 50%;
    align-items: end;
}

main aside img {
    margin: 50px auto;
}


/*----------------------------------- SERVICES SECTION -----------------------------------*/


#services {
    width: 90vw;
    margin: 100px auto;
}

#services h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#services div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#services div div {
    width: 28%;
    background-color: #333739;
    border-radius: 20px;
    margin-bottom: 70px;
    padding: 20px;
}

#services div div p {
    font-size: 30px;
    color: #e2dfdb;
}


/*----------------------------------- ABOUT ME SECTION -----------------------------------*/


#about-me {
    display: flex;
    padding: 50px;
}

#about-me div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

#about-me div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

#about-me div img {
    width: 80%;
    /* height: 90%; */
    border-radius: 50%;
}

#about-me div h4 {
    font-size: 20px;
    color: #e8e6e3;
}
#about-me div h1 {
    font-size: 42px;
    color: #c2e4ff;
}
#about-me div p {
    font-size: 24px;
    color: #e2dfdb;
}


/*----------------------------------- Experience Section -----------------------------------*/


#academic-and-work-experience {
    margin: 100px;
    width: 85vw;
}

#academic-and-work-experience h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#academic-qualifications, #work-exp {
    display: flex;
    background-color: #333739;
    border-radius: 10px;
    padding: 50px;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#academic-qualifications h2 {
    width: 50%;
    color: #c2e4ff;
    font-size: 32px;
}

#academic-qualifications div {
    width: 50%;
}

#academic-qualifications div div {
    width: 100%;
    background-color: #27282b;
    text-align: left;
    padding: 20px;
    padding-right: 0;
    border-radius: 20px;
    color: #e2dfdb;
}

#academic-and-work-experience h3 {
    font-size: 30px;
}

#academic-and-work-experience p {
    font-size: 20px;
}

#work-exp h2 {
    width: 50%;
    color: #c2e4ff;
    font-size: 32px;
}

#work-exp div {
    width: 50%;
}

#work-exp div div {
    width: 95%;
    background-color: #27282b;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    color: #e2dfdb;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*----------------------------------- Projects Section -----------------------------------*/


#projects {
    margin: 100px;
    width: 85vw;
}

#projects h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#projects h3 {
    font-size: 36px;
    color: #c2e4ff;
}

#projects p {
    font-size: 24px;
    color: #e2dfdb;
}

.projects-made {
    width: 100%;
    background-color: #333739;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.projects-made div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-made div video{
    width: 80%;
    height: 80%;
}

.projects-made div img{
    width: 95%;
    height: 100%;
    border-radius: 20px;
}