body {
    background-color: #1f2123;
}

img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

video:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}


/*----------------------------------- HEADER -----------------------------------*/


.header {
    margin-top: 30px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: #596064;
    padding: 0 25px;
    border-radius: 20px;
}

.header a{
    text-decoration: none;
}

.header a p {
    color: white;
    font-size: 24px;
}

.header a p:hover {
    transform: scale(1.2); 
    transition-duration: 0.2s;
}


/*----------------------------------- MAIN BODY -----------------------------------*/


main {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f3335;
    border-radius: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}

main section {
    width: 50%;
    color: #e2dfdb;
}

main section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section p:nth-child(1) {
    font-size: 36px;
}
main section p:nth-child(2) {
    font-size: 48px;
}
main section p:nth-child(3) {
    font-size: 54px;
}

main aside {
    width: 50%;
    display: flex;
    /* align-items: end; */
}

main aside img {
    margin: 50px auto;
}

@media (max-width: 768px) {

    main {
        display: block;
    }

    main section {
        width: 100%;
    }

    main aside {
        width: 100%;
        display: flex;
        align-items: center;
    }

}


/*----------------------------------- SERVICES SECTION -----------------------------------*/


#services {
    width: 90vw;
    margin: 100px auto;
}

#services h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#services div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#services div div {
    width: 28%;
    background-color: #333739;
    border-radius: 20px;
    margin-bottom: 70px;
    padding: 20px;
}

#services div div p {
    font-size: 30px;
    color: #e2dfdb;
}

#services div div:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}


@media (max-width: 768px) {

    #services div {
        display: block;
    }

    #services div div {
        width: 100%;
    }

}


/*----------------------------------- ABOUT ME SECTION -----------------------------------*/


#about-me {
    display: flex;
    padding: 50px;
}

#about-me div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

#about-me div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

#about-me div img {
    width: 80%;
    /* height: 90%; */
    border-radius: 50%;
}

/* #about-me div h4 {
    font-size: 20px;
    color: #e8e6e3;
} */
#about-me div h1 {
    font-size: 42px;
    color: #c2e4ff;
}
#about-me div p {
    font-size: 24px;
    color: #e2dfdb;
}

@media (max-width: 768px) {

    #about-me {
        display: block;
    }

    #about-me div:nth-child(1) {
        width: 100vw;
    }

    #about-me div:nth-child(2) {
        width: 100vw;
    }

}


/*----------------------------------- Experience Section -----------------------------------*/


#academic-and-work-experience {
    margin: 100px;
    width: 85vw;
}

#academic-and-work-experience h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#academic-qualifications, #work-exp {
    display: flex;
    background-color: #333739;
    border-radius: 10px;
    padding: 50px;
    width: 75vw;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#academic-qualifications h2 {
    width: 50%;
    color: #c2e4ff;
    font-size: 32px;
}

#academic-qualifications div {
    width: 50%;
}

#academic-qualifications div div {
    width: 100%;
    background-color: #27282b;
    text-align: left;
    padding: 20px;
    padding-right: 0;
    border-radius: 20px;
    color: #e2dfdb;
}

#academic-and-work-experience h3 {
    font-size: 30px;
}

#academic-and-work-experience p {
    font-size: 20px;
}

#work-exp h2 {
    width: 50%;
    color: #c2e4ff;
    font-size: 32px;
}

#work-exp div {
    width: 50%;
}

#work-exp div div {
    width: 95%;
    background-color: #27282b;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    color: #e2dfdb;
    margin-top: 20px;
    margin-bottom: 20px;
}

#academic-and-work-experience div div div:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

@media (max-width: 768px) {

    #academic-qualifications, #work-exp {
        display: block;
    }

    #academic-qualifications div {
        width: 100%;
    }

    #work-exp div {
        width: 100%;
    }

}


/*----------------------------------- Projects Section -----------------------------------*/


#projects {
    margin: 100px;
    width: 85vw;
}

#projects h1 {
    font-size: 48px;
    color: #e8e6e3;
}

#projects h3 {
    font-size: 36px;
    color: #c2e4ff;
}

#projects p {
    font-size: 24px;
    color: #e2dfdb;
}

.projects-made {
    width: 100%;
    background-color: #333739;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.projects-made div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-made div video{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

.projects-made div img{
    width: 95%;
    height: 100%;
    border-radius: 20px;
}

.projects-made:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

@media (max-width: 768px) {

    .projects-made {
        display: block;
    }

    .projects-made div {
        width: 100%;
    }

}


/*----------------------------------- Projects Section -----------------------------------*/


#socials {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#socials h1 {
    font-size: 48px;
    color: #e8e6e3;
    margin-bottom: 50px;
}

#socials div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#socials img {
    height: 180px;
    width: 180px;
}


/*----------------------------------- Projects Section -----------------------------------*/


footer {
    background-color: #596064;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

footer h2 {
    font-size: 36px;
    color: gainsboro;
}